<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gwak.mapper.TodoListMapper">
	<select id="selectTil" parameterType="String" resultType="com.example.gwak.dto.TodoList">
		SELECT * 
		FROM TODOLIST 
		WHERE ID = #{id}
    </select>
    
    <insert id="insertTil" parameterType="com.example.gwak.dto.TodoList">
    	INSERT INTO TODOLIST
    		(ID,TITLE,CONTENTS,CREATEDAT) 
    	VALUES
    		(#{id},#{title},#{contents},#{createdat})
    </insert>
    
    <update id="updateTil" parameterType="com.example.gwak.dto.TodoList">
    	UPDATE 
    		TODOLIST
    	SET 
    		CONTENTS = #{contents}
    		,COMPLETED = #{completed}
    	WHERE 
    		ID = #{id}
    		AND TILNO = #{tilno}
    		AND TITLE = #{title}
    </update>
    
    <delete id="deleteTil" parameterType="com.example.gwak.dto.TodoList">
    	DELETE FROM
    		TODOLIST
    	WHERE
    		ID = #{id}
    		AND TILNO = #{tilno}
    </delete>
    
</mapper>